<a href="https://colab.research.google.com/github/samlan08/letsupgrade-python/blob/master/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1

 1. list and it default function.

In [3]:
# making a list
list_1=["sam",34,"rain","anita",95,1,"game",6]
print(list_1)

['sam', 34, 'reena', 'anita', 95, 1, 'game', 6]

In [28]:
#1) .append()
#Adds an element at the end of the list
#append only adds one element at a time.
list_1.append("trees")
list_1.append(95)
list_1.append([1,2,35])
print(list_1)

['sam', 34, 'reena', 'anita', 95, 1, 'game', 6, 'trees', [1, 2, 35], 95]

In [29]:
#2) .count()
#Returns the number of elements with the specified value
list_1.count(95)

2

In [32]:
# 3) .index()
#Returns the index of the first element with the specified value
list_1.index("trees")

8

In [35]:
# 4) .insert()
#Adds an element at the specified position
list_1.insert(4,"cycle")
print(list_1)

['sam', 34, 'reena', 'anita', 'cycle', 95, 1, 'game', 6, 'trees', [1, 2, 35], 95]

In [37]:
# 5) .reverse()
#Reverses the order of the list
list_1.reverse()
print(list_1)

[95, [1, 2, 35], 'trees', 6, 'game', 1, 95, 'cycle', 'anita', 'reena', 34, 'sam']

In [43]:
# 6) .sort()
#Sorts the list # in ascending or descending order
# can sort only int/float or only character type of data cannot sort int/float and char mixed data.
# makind another list
list_2 = ["apple","cherry","grapes","mango"]
list_3 = [3,3.4,58,7.32]
list_2.sort()
list_3.sort()
print(list_2)
print(list_3)

['apple', 'cherry', 'grapes', 'mango']
[3, 3.4, 7.32, 58]

In [46]:
# 7) .extend()
#Add the elements of a list (or any iterable), to the end of the current list 
# adding two list # can add one list at a time.
list_1.extend(list_2)
list_1.extend(list_3)
print(list_1)

[95, [1, 2, 35], 'trees', 6, 'game', 1, 95, 'cycle', 'anita', 'reena', 34, 'sam', 'apple', 'cherry', 'grapes', 'mango', 3, 3.4, 7.32, 58]

In [48]:
# 8) .remove()
#Removes the first item with the specified value
# can remove one element at a time
list_1.remove(7.32)
print(list_1)

[95, [1, 2, 35], 'trees', 6, 'game', 1, 95, 'cycle', 'anita', 'reena', 34, 'sam', 'apple', 'cherry', 'grapes', 'mango', 3, 3.4, 58]

In [49]:
# 9) .pop()
#Removes the element at the specified position
list_1.pop(4)
print(list_1)

[95, [1, 2, 35], 'trees', 6, 1, 95, 'cycle', 'anita', 'reena', 34, 'sam', 'apple', 'cherry', 'grapes', 'mango', 3, 3.4, 58]

In [52]:
# 10) .copy()
#Returns a copy of the same list
list_1.copy()
print(list_1)

[95, [1, 2, 35], 'trees', 6, 1, 95, 'cycle', 'anita', 'reena', 34, 'sam', 'apple', 'cherry', 'grapes', 'mango', 3, 3.4, 58]

In [53]:
# 11) .clear()
#Removes all the elements from the list
list_1.clear()
print(list_1)
#returns an empty list.

[]

In [55]:
# 12) min and max
print(max(list_3))
print(min(list_3))

58
3

In [58]:
# 13) len(), type()
# len() : it gives the length of the sequence
#type() : tells us what type of datatype it is.
print(len(list_3))
print(type(list_3))

4
<class 'list'>

2) Dictionary and its default functions

In [63]:
# making a dictionary
dict_1 = {"mango":30,"apple":34,"cherry":12,"grapes":45}
print(dict_1)

{'mango': 30, 'apple': 34, 'cherry': 12, 'grapes': 45}

In [69]:
# 1) .get()
#Returns the value of the specified key
dict_1.get("apple")

34

In [71]:
# 2) .keys()
#Returns the value of the specified key
dict_1.keys()

dict_keys(['mango', 'apple', 'cherry', 'grapes'])

In [72]:
# 3) .values()
#Returns a list of all the values in the dictionary
dict_1.values()

dict_values([30, 34, 12, 45])

In [74]:
# 4) .update()
#Updates the dictionary with the specified key-value pairs
dict_1.update({"orange":50,"banana":20})
print(dict_1)

{'mango': 30, 'apple': 34, 'cherry': 12, 'grapes': 45, 'orange': 50, 'banana': 20}

In [77]:
# 5) .items()
#Returns a list containing a tuple for each key value pair
dict_1.items()
print(dict_1)

{'mango': 30, 'apple': 34, 'cherry': 12, 'grapes': 45, 'orange': 50, 'banana': 20}

3) sets and its default functions

In [90]:
# 1)making aset
set_1 = {"apple","grapes","mango","banana"}
print(set_1)
set_2 = {"ball","bat","football","racket"}
print(set_2)

{'banana', 'grapes', 'mango', 'apple'}
{'football', 'bat', 'ball', 'racket'}

In [80]:
# 1) add()
#Adds an element to the set
set_1.add("orange")
print(set_1)

{'banana', 'apple', 'orange', 'mango', 'grapes'}

In [82]:
# 2) difference()
#Returns a set containing the difference between two or more sets
#The returned set contains items that exist only in the first set, and not in both sets.
set_1.difference(set_2)

{'apple', 'banana', 'grapes', 'mango'}

In [86]:
# 3) discard()
#Remove the specified item
set_1.discard("banana")
print(set_1)

{'grapes', 'mango', 'apple'}

In [88]:
# 4) union()
#Return a set containing the union of sets
set_3 = set_1.union(set_2)
print(set_3)

{'football', 'mango', 'bat', 'grapes', 'ball', 'racket', 'apple'}

In [92]:
#5) update() 
#Update the set with the union of this set and others
set_1.update(set_2)
print(set_1)

{'banana', 'ball', 'apple', 'football', 'mango', 'bat', 'grapes', 'racket'}

4. Tuples and explore default methods

In [94]:
# making a tuple
tuple_1 = (1,4,5,56,23,6.7,23,7.6,1,5,6.7)
print(tuple_1)

(1, 4, 5, 56, 23, 6.7, 23, 7.6, 1, 5, 6.7)

In [95]:
# 1) count()
#Returns the number of times a specified value occurs in a tuple
tuple_1.count(5)

2

In [96]:
# 2) index()
#Searches the tuple for a specified value and returns the position of where it was found
tuple_1.index(23)

4

5. string and explore default method

In [112]:
# creating text 
text = "Hello i am Donal"
print(text)
text_1 = "2345681"
print(text_1)

Hello i am Donal
2345681

In [106]:
# 1) find()
#Searches the string for a specified value and returns the position of where it was found
print(text.find("am"))

8

In [107]:
# 2) lower()
#Converts a string into lower case
print(text.lower())

hello i am donal

In [108]:
# 3) split()
#Splits the string at the specified separator, and returns a list
print(text.split())

['Hello', 'i', 'am', 'Donal']

In [109]:
# 4) strip()
#Returns a trimmed version of the string
print(text.strip())

Hello i am Donal

In [110]:
# 5) upper()
#Converts a string into upper case
print(text.upper())

HELLO I AM DONAL

In [111]:
# 6) islower()
#Returns True if all characters in the string are lower case
print(text.islower())

False

In [114]:
#7) isnumeric()
#Returns True if all characters in the string are numeric
print(text_1.isnumeric())

True