<a href="https://colab.research.google.com/github/samlan08/letsupgrade-python/blob/master/python_assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1   Day-4

Print the first ArmStrong number in the range of 1042000 to702648265 and exit the loop as soon as you encounter the first armstrong number.  
Use while loop.

In [3]:
for num in range(1042000, 702648265):
  order = len(str(num))
  sum=0
  temp=num
  while (temp)>0:
    digit = temp%10
    sum = sum+digit**order
    temp //=10
  if num == sum:
    print("The first armstrong number between 1042000 and 702648265 is ", sum)
    break

The first armstrong number between 1042000 and 702648265 is  1741725