<a href="https://colab.research.google.com/github/samlan08/letsupgrade-python/blob/master/python_assignment_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1 day3

You all are pilots, you have to land a plane,   
the altitude required for landing a plane is 1000ft,   
if it is less than or equal to 1000ft tell pilot to "land the plane",  
or if it is more than 1000ft but less than 5000ft ask the pilot to "bring down to 1000ft",  
else if it is more than 5000ft ask the pilot to "turn around".

In [ ]:
altitude = input("enter the required altitude to land the plane : ")
num = float(altitude)

if (num <= 1000 ):
  print("Safe to land.")
elif (num > 1000 and num <= 5000):
  print("Bring dow to 1000ft")
else :
  print("Turn around")

enter the required altitude to land the plane : 70000
Turn around

Assignment 2   day-3

2) Using for loop print all the prime numbers between 1 - 200.  
Using for loop and range function.

In [4]:
for num in range(2,201):
  if num>1:
    for i in range(2, num):
      if (num%i==0):
        break
    else:
      print("prime number : ",num)

prime number :  2
prime number :  3
prime number :  5
prime number :  7
prime number :  11
prime number :  13
prime number :  17
prime number :  19
prime number :  23
prime number :  29
prime number :  31
prime number :  37
prime number :  41
prime number :  43
prime number :  47
prime number :  53
prime number :  59
prime number :  61
prime number :  67
prime number :  71
prime number :  73
prime number :  79
prime number :  83
prime number :  89
prime number :  97
prime number :  101
prime number :  103
prime number :  107
prime number :  109
prime number :  113
prime number :  127
prime number :  131
prime number :  137
prime number :  139
prime number :  149
prime number :  151
prime number :  157
prime number :  163
prime number :  167
prime number :  173
prime number :  179
prime number :  181
prime number :  191
prime number :  193
prime number :  197
prime number :  199